@charset "UTF-8";

/* Estilo para impressora */

* {
   margin: 20px;
   padding: 20px;
   
}
html {
   font-family: 'Courier New', Courier, monospace;
   font-size: 2em;

}

menu {
   display: none;
}