/*Estrofes que tem fundo: 2 e 4*/


@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


h1 {
   font-family: 'Passion One', cursive;
   font-size: 70px;

   text-align: center;
}

p {
   font-family: 'Sriracha', cursive;
   font-size: 30px;
   padding-left: 20px;
}

a {
   text-decoration: none;
   color: white;
   font-weight: bold;
}

a:hover {
   text-decoration: underline;
}

header {
   padding: 30px;
   margin-top: -50px;
   margin-left: -8px;
   margin-right: -8px;

   text-align: center;
   background-color: black;
   color: white;
}

#title {
   padding-top: -5px;

   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#head {
   font-family: serif;
   text-align: center;
}

.estrofe1 {
   margin-left: -8px;
   margin-right: -8px;
   padding-left: 10px;
  

   background-color: white; 
   
}

.estrofe2 {
   padding: 100px;
   padding-left: 10px;
   margin-left: -8px;
   margin-right: -8px;
   

   background-image: url("imagens/background001.jpg");
   background-size: cover;
   background-attachment: fixed;
   background-position: center right;
   
   color: white;

}
.estrofe2 p {
   background-color: rgba(0, 0, 0, 0.235);
   max-width: 400px;
}

.estrofe4 {
   padding: 100px;
   padding-left: 10px;
   margin-left: -8px;
   margin-right: -8px;
   
   background-image: url("imagens/background002.jpg");
   background-attachment: fixed;
   background-position: center center;

   color: white;
}
.estrofe4 p {
   max-width: 400px;
   background-color: rgba(0, 0, 0, 0.235);
}

footer {
   margin: -8px;

   background-color: black;
   color: white;

   text-align: center;
   
}